body{

    font-family: 'Markazi Text','serif';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    

}
header{
    margin-bottom: 1em;

}

header > img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}
header img:hover {
    transform:scale(1.1)
}


nav{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
 
 
}
nav ul{

    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    gap: 4em;
    padding-top: 1em;
 
}
    
 

nav li{
    display: inline-block;
    background-color: #CBDBA7;
    border-radius: 1em;
    padding: 0.5em 0.5em;
    text-shadow: 0 0 2em #0a0a09;


}
nav li:hover{
    transform:scale(1.1);
    transition: 0.3s ease-in-out;
}
nav a{
    text-decoration: none;
    color: white;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img {
   
        width: 100%;
        height: 700px; 
        border-radius: 5em;
  
    
}

.grid-areas {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: auto; 
    gap: 2em; 
    margin-top: 2em;
}

.sheapone, .seanolFavorite, .picOne, .picTwo {
    background-color: #f1f0ee; 
    border-radius: 1em; 
}

.picOne img, .picTwo img, .sheapone img, .seanolFavorite img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Resim, kapsayıcıyı taşırmadan doldurur */
    border-radius: 4em !important; /* Resim köşe yuvarlatma */
}
.sheapone {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.seanolFavorite {
    grid-column: 4 / 6;
    grid-row: 1/2
}

.picOne {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.picTwo {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
/***************/


    @media (max-width: 768px) {
        .grid-areas {
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
                "sheapone"
                "seanolFavorite"
                "picOne"
                "picTwo";
        }
    }
    
    .plant-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-auto-rows: auto; 
        gap: 2em; 
        margin-top: 2em;
      
      }
      .card {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        overflow: hidden;
        background-color: #f1f0ee;
        width: 450px;
        object-fit: contain;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
      }
      .card:hover{
        transform: scale(1.03); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
      .image_content img{
        overflow: hidden !important;
        width: 100% !important  ;
      }

      .card_on-sale
      {
        position: absolute;
        top: -28px;
        right: 0px;
        background-color: #fff;
        color:#BE8868;
        font-size: 1.6rem;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
     

      }
      .card_on-sale:hover
      {
        color:#d55a11;
        cursor: pointer;
      }
      .card__content{
        font-size: larger;
      text-align: center;
      }
      .price__sale {
        font-size: 1.3rem;
        font-weight: 2em;
        color: #27ae60;
        padding: 0 3em;
      }
      .card__pricing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;
      }
      .card_add{
        display: flex;
        justify-content: flex-end;
      }
      .card__button {
        display: flex;
        margin-right: 2em;
        width: 100%;
        padding: 15px 5px;
       background-color: #fff;
        color: #a7a7a7;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 1.1em;
        cursor: pointer;
        
      }
      .card__button:hover{
        color:#BE8868;
      }
      .card__button .icon {
        margin-right: 5px;
      }