body{

    font-family: 'Markazi Text','serif';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    

}
header{
    margin-bottom: 1em;

}

header > img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}
header img:hover {
    transform:scale(1.1)
}


nav{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
 
 
}
nav ul{

    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    gap: 4em;
    padding-top: 1em;
 
}
    
 

nav li{
    display: inline-block;
    background-color: #CBDBA7;
    border-radius: 1em;
    padding: 0.5em 0.5em;
    text-shadow: 0 0 2em #0a0a09;


}
nav li:hover{
    transform:scale(1.1);
    transition: 0.3s ease-in-out;
}
nav a{
    text-decoration: none;
    color: white;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img {
   
        max-width: 100%;
        height: auto; 
        border-radius: 5em;
  
    
}
/* .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .one { grid-area: 1 / 1 / 6 / 3; 
    grid-row: span 2;}
    .two { grid-area: 1 / 3 / 3 / 5; }
    .three{ grid-area: 3 / 3 / 6 / 5; }
    .four{ grid-area: 1 / 5 / 3 / 6; }
    .five { grid-area: 3 / 5 / 6 / 6; } */

    .grid-areas{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: "sheapone seanolFavorite seanolFavorite"
                             "sheapone picOne picTwo";
       margin-top: 3em;
       position: relative;
    }

    .sheapone{
        grid-area: sheapone;
        display: flex;
        justify-content: center; 
        align-items: center;
        filter: blur(0.08);
      
    }
    .shopNow {
        position: absolute;
        bottom: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      
        padding: 0.8rem 2rem;
        background-color: #007bff;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        
    }
    
    
  
    .shopNow:hover {
     
       
    }
    .shopNow:hover ~ .sheapone img {
        background-color: #0056b3; 
        filter: blur(5px); 
    }
    
    .sheapone img{
        width: 100%; 
        height: auto; 
        border-radius: 5em !important;
        object-fit: cover; 
      
    } 
    .seanolFavorite{
        grid-area: seanolFavorite;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    .picOne{
        grid-area: picOne;
        object-fit: cover; 
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    .picTwo{
        grid-area: picTwo;
        display: flex;
        justify-content: center; 
        align-items: center;
        object-fit: cover; 
    }

    @media (max-width: 768px) {
        .grid-areas {
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
                "sheapone"
                "seanolFavorite"
                "picOne"
                "picTwo";
        }
    }
    